body{
    background: linear-gradient(rgb(5, 223, 5), rgb(4, 195, 195));
}
#score{
    float: left;
    margin-left: 15px;
    font-size: 35px;
    color: red;
    font-weight: bold;
}
#timer{
    float: right;
    margin-right: 15px;
    font-size: 35px;
    color: red;
    font-weight: bold;
}
#drawn{
    font-size: 35px;
    font-weight: bolder;
    color: rgb(167, 91, 238);
}
#label, #accuracy{
    font-size: 25px;
}
#show_sketch{
    float: right;
    font-size: 20px;
}
h1{
    margin-left: 130px;
    color: rgb(243, 0, 251);
    font-weight: bolder;
}